@charset "UTF-8";

.nav-item {
    font-size: 1.25rem !important;
    font-weight: 600 !important;
    padding-right: 20px !important;
}

.thin-blue-bar {
	  width: 100%;
      height: 20px; /* Adjust the height as needed */
      background-color: #18A8F1; /* Blue color */
}
/*
.dropdown-toggle {
	margin: 2.5px !important;
	padding: 2.5px !important;
}
*/
 .dropdown-menu {
  font-size: 1.35rem !important;
    font-weight: 600 !important;
    margin-top: 15px !important;
    }

.btn-primary {
	background-color: #18A8F1 !important;
	border-color: #18A8F1 !important;
}
