@charset "UTF-8";

.profile-layout {
	display: flex;
	gap: 24px;
	margin: 20px auto 0;
	max-width: 1200px;
	padding: 0 40px;
}

.profile-layout_navigation {
	border: 1px solid #ebebeb;
	border-radius: 12px;
	flex: 0 0 282px;
	height: fit-content;
	margin-top: 12px;
	flex-basis: 190px;
	height: -moz-fit-content;
}

.profile-layout_content {
	margin: 0;
	padding: 0 0 96px;
}

.profile-layout_navigation ul {
	margin: 0;
	padding: 4px 0;
}

.profile-layout_navigation li {
	border-bottom: 1px solid #ebebeb;
	height: 60px;
	line-height: 24px;
	list-style: none;
	padding: 0 24px;
	font-size: 16px;
	font-weight: 600;
}

.profile-layout_navigation li:last-of-type {
	border-bottom: none;
}

.profile-layout_navigation li a {
	align-items: center;
	color: #333;
	display: flex;
	height: inherit;
	justify-content: space-between;
	text-decoration: none;
}

.profile-layout section {
	margin: 0;
	padding: 0 0 96px;
}

.profile-layout_content {
	flex: 1 1 auto;
	margint
	margin-bottom: 96px;
}

.my-info {
	margin: 8px 20px;
	margin-left: 24px;
}

.page-title .spacing-top {
	height: 5px;
}

.page-title .content .title-row {
	display: flex;
	justify-content: space-between;
}

.page-title .content .title-row .title--show {
	opacity: 1;
	transition-duration: .5s;
	transition-property: opacity;	
}

.page-title .content .title-row .title {
	display: inline-flex;
}

.page-title .content .title-row .title .text {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #333;
	display: -webkit-box;
	line-height: 29px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	word-break: keep-all;
	font-size: 24px;
	font-weight: 700;
}





