@charset "UTF-8";

.profile-layout {
	display: flex;
	gap: 24px;
	margin: 20px auto 0;
	max-width: 1200px;
	padding: 0 40px;
}

.profile-layout_navigation {
	border: 1px solid #ebebeb;
	border-radius: 12px;
	flex: 0 0 282px;
	height: fit-content;
	margin-top: 12px;
	flex-basis: 190px;
	height: -moz-fit-content;
}

.profile-layout_content {
	margin: 0;
	padding: 0 0 96px;
}

.profile-layout_navigation ul {
	margin: 0;
	padding: 4px 0;
}

.profile-layout_navigation li {
	border-bottom: 1px solid #ebebeb;
	height: 60px;
	line-height: 24px;
	list-style: none;
	padding: 0 24px;
	font-size: 16px;
	font-weight: 600;
}

.profile-layout_navigation li:last-of-type {
	border-bottom: none;
}

.profile-layout_navigation li a {
	align-items: center;
	color: #333;
	display: flex;
	height: inherit;
	justify-content: space-between;
	text-decoration: none;
}

.profile-layout section {
	margin: 0;
	padding: 0 0 96px;
}

.profile-layout_content {
	flex: 1 1 auto;
	margint
	margin-bottom: 96px;
}

.my-info {
	margin: 8px 20px;
	margin-left: 24px;
}

.page-title .spacing-top {
	height: 5px;
}

.page-title .spacing-top1 {
	height: 10px; 
}

.page-title .content .title-row {
	display: flex;
	justify-content: space-between;
}

.page-title .content .title-row .title--show {
	opacity: 1;
	transition-duration: .5s;
	transition-property: opacity;	
}

.page-title .content .title-row .title {
	display: inline-flex;
}

.page-title .content .title-row .title .text {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	color: #333;
	display: -webkit-box;
	line-height: 29px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: pre-line;
	word-break: keep-all;
	font-size: 24px;
	font-weight: 700;
}

.page-title .spacing-bottom {
	height: 20px;
}

.profile-layout {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.profile-container {
	border: 1px solid #fff;
	border-radius: 20px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
	width: 100%; 
	height: auto; 
	padding: 20px; 
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
}

.profile-info {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
}

.profile-intro {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin: 15px;
	font-size: 16px;
}

.profile-quatro {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	
	
}

.profile-update{
	background-color: #18A8F1 ;
	border: none;
	border-radius: 12px;
	color: #fff;  
	font-size: 14px;
	font-weight: bold; 
	cursor: pointer;
	padding: 0 10px; 
	height: 40px; 
	width: 80px;  
}

@keyframes move {
	0% {transform: translateY(0);}
	100% {transform: translateY(2px);} 
} 

.profile-update:hover {
	color: #18A8F1;
	background-color: white;
	border: 2px solid #bee8fd;
	transition: 0.3s;
	animation: move 0.3s forwards;
}

.profile-image {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin-right: 20px;
	border-radius: 50px;
}

.profile-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.nickname, .details {
	margin: 0;
}

.nickname {
	font-size: 18px;
	font-weight: bold;
	color: #333;
}

.details {
	font-size: 14px;
	color: #999;
}

.mbti-button {
	background-color: #82EEBA;
	border: none;
	border-radius: 30px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 10px 20px;
	cursor: pointer; 
}

.mbti-button:hover {
	background-color: white;
	color: #82EEBA;
	border: 2px solid #82EEBA;
	transition: 0.3s; 
	animation: move 0.3s forwards; 
}

@media (max-width: 768px) {
	.profile-container {
		width: calc(100% - 40px);
		margin: 0 20px;
		flex-direction: column;
		align-items: flex-start;
	}

	.profile-info {
		margin-bottom: 20px;
	}

	.mbti-button {
		align-self: flex-start;
	}
}







