<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dds.mapper.FaqMapper">
	<sql id="where-list">
		<choose>
			<when test="schType == 'all' ">
			   ( INSTR(subject, #{kwd}) &gt; 0
		          OR DBMS_LOB.INSTR(content, #{kwd}) &gt; 0 
		          OR INSTR(LOWER(category), LOWER(#{kwd})) &gt; 0 )
			</when>
			<when test="schType == 'reg_date' ">
			   ( TO_CHAR(reg_date, 'YYYYMMDD') = #{kwd}
		          OR TO_CHAR(reg_date, 'YYYY-MM-DD') = #{kwd} )
			</when>
			<otherwise>
			    ( INSTR(${schType}, #{kwd}) &gt; 0 )
			</otherwise>
		</choose>
	</sql>

	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM faq f
		JOIN faqCategory c ON f.categoryNum = c.categoryNum
		<where>
			<if test="categoryNum!=0">
				( c.categoryNum = #{categoryNum} )
			</if>
			<if test="kwd!=null and kwd!='' ">
				AND <include refid="where-list"/>
			</if>
			AND c.enabled = 1
		</where>
	</select>

	<select id="listFaq" parameterType="map" resultType="com.fly.dds.domain.Faq">
		SELECT f.num, f.user_num, userName, subject, 
			TO_CHAR(f.reg_date, 'YYYY-MM-DD') reg_date, content,
			c.categoryNum, category, orderNo
		FROM faq f
		JOIN member1 m ON f.user_num=m.user_num
		JOIN faqCategory c ON f.categoryNum = c.categoryNum
		<where>
			<if test="categoryNum!=0">
				( c.categoryNum = #{categoryNum} )
			</if>
			<if test="kwd!=null and kwd!='' ">
				AND <include refid="where-list"/>
			</if>
			AND c.enabled = 1
		</where>
		ORDER BY reg_date, num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY
	</select>

	<select id="listCategory" parameterType="map" resultType="com.fly.dds.domain.Faq">
		SELECT categoryNum, category, enabled, orderNo
		FROM faqCategory
		<where>
			<if test="mode=='enabled'">
				enabled = 1
			</if>
		</where>
		ORDER BY orderNo
	</select>

</mapper>