<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dds.app.mapper.MemberMapper">
	<select id="loginMember" parameterType="String" resultType="com.dds.app.domain.Member">
		SELECT m2.user_num, userId, pwd, userName, nickName, reg_date, modify_date, activity, user_grade, status
		FROM member_info m1
		JOIN member_status m2 ON m1.user_num=m2.user_num
		WHERE userId=#{userId}
	</select>
</mapper>