<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dds.mapper.MemberMapper">
	<!-- enabled 상태에 따라 로그인 불가능하게 하기 -->
	<select id="loginMember" parameterType="String" resultType="com.fly.dds.domain.Member">
		SELECT m2.user_num, userId, pwd, userName, nickName, reg_date, modify_date, activity, user_grade, enabled, photo
		FROM member_info m1
		JOIN member1 m2 ON m1.user_num=m2.user_num
		LEFT OUTER JOIN member_profile m3 ON m1.user_num=m3.user_num
		WHERE userId=#{userId}
	</select>
	
	<insert id="insertMember" parameterType="map">
		insert into member1(USER_NUM, USERID, PWD, USERNAME, ENABLED)
		values(#{num}, #{userId}, #{userPwd}, #{userName}, 1)
	</insert>
	
	<insert id="insertMemberInfo" parameterType="map">
		insert into member_info(USER_NUM, NICKNAME, BIRTH, REG_DATE,  ACTIVITY)
		values(#{num}, #{userNickname}, #{userBirth}, SYSDATE, 1)
	</insert>
	
	<insert id="insertMemberProfile" parameterType="map">
		insert into member_profile(USER_NUM, CONTENT, PHOTO, MBTI) values(#{num}, NULL, NULL, 'MBTI')
	</insert>
	
	<select id="memberSeq" resultType="Long">
		select MEMBER1_SEQ.nextval from dual 
	</select>
</mapper>