<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dds.mapper.RoomQnAMapper">
	<!-- QnA 등록 -->
	<!--public void insertQnA(RoomQnA dto) throws SQLException;  -->
	<insert id="insertQnA" parameterType="com.fly.dds.domain.RoomQnA">
		INSERT INTO room_qna(qna_num, num, user_num, subject, content, reg_date,  anonymous) 
		VALUES(room_qna_seq.NEXTVAL, #{num} , #{userNum}, #{subject}, #{content}, SYSDATE, 0 )
	</insert>
	
		<update id="updateQnA" parameterType="com.fly.dds.domain.RoomQnA">
		UPDATE room_qna SET answer = #{answer}, answer_date = SYSDATE
		WHERE num = #{num}
	</update>
	
	<!-- QnA 개수 -->
	<!-- public int dataCount(Map<String, Object> map); -->
	<select id="dataCount" parameterType="map" resultType="Integer">
		SELECT NVL(COUNT(*), 0)
		FROM room_qna
		WHERE num = #{num} AND anonymous = 0
	</select>
	
	<!-- listQnA -->
	<!--  public List<RoomQnA> listQnA(Map<String, Object> map); -->
	<select id="listQnA" parameterType="map" resultType="com.fly.dds.domain.RoomQnA">
		SELECT q.qna_num, m.userName, subject, content, reg_date, answer,  answer_date
		FROM room_qna q
		JOIN member1 m ON q.user_num = m.user_num
		WHERE q.num = #{num} AND anonymous = 0
		ORDER BY q.num DESC
		OFFSET #{offset} ROWS FETCH FIRST #{size} ROWS ONLY		
	</select>
	
	
</mapper>