<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dds.admin.mapper.RoomManageMapper">

  <select id="roomSeq" resultType="Long">
  	SELECT room_seq.nextval FROM dual
  </select>

<!-- 숙소 등록 -->
	<!-- public void insertRoom(Room dto) throws SQLException; -->
	<insert id="insertRoom" parameterType="com.fly.dds.domain.Room">
		insert into room ( num , subject , content , caution , room_type , reg_date
		, post_num , addr1 , addr2 , thumbnail , key_value , facility_content ,  active )
		values ( #{num} , #{subject}, #{content} , #{caution} , #{room_type} , sysdate
		, #{post_num} , #{addr1} , #{addr2} , #{thumbnail} , #{key_value} , #{facility_content}, #{active} )
	</insert>

<!-- 파일(추가 이미지) 등록 -->
	<!-- public void insertRoomFile(Room dto) throws SQLException; -->
	<insert id="insertRoomFile" parameterType="com.fly.dds.domain.Room">
		insert into room_photo(photo_num , photo , num ) values 
		(room_photo_seq.nextval , #{photo} , #{num} )
	</insert>
			
	
<!-- 상세정보 등록 -->
	<!-- public void insertRoomDetail(Room dto) throws SQLException; -->
	<insert id="insertRoomDetail" parameterType="com.fly.dds.domain.Room">
		insert into room_detail(detail_num , people , price , discount , name ,
		content , detail_photo , point , num ) values 
		(room_detail_seq.nextval , #{people} , #{price} , #{discount} , #{name} , 
		#{detail_content} , #{detail_photo} , #{point} , #{num} )
	</insert>

<!-- room list -->

<!-- update -->



</mapper>