<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dds.mapper.RoomPaymentMapper">
	<select id="findBySaleNum" resultType="String" >
		SELECT sale_num
		FROM  room_sale 
		ORDER BY reg_date DESC
		FETCH FIRST 1 ROWS ONLY
	 </select>
	 
	 <!-- 주문 등록 -->
	<insert id="insertPayment" parameterType="com.fly.dds.domain.RoomPayment">
	 	INSERT INTO room_sale(sale_num, reg_date, sdate, edate, total_price, coupon_price, point_price, discount, final_price, name, detail_num, user_num )
		VALUES(#{sale_num}, SYSDATE, TO_DATE(#{sdate}, 'YYYY-MM-DD'), TO_DATE(#{edate}, 'YYYY-MM-DD'),
    		#{total_price} , 0 , #{point_price} , #{discount} , #{final_price} , #{name} , #{detail_num} , #{user_num} )
	 </insert>
	 
	 <!-- 주문 상세 등록 -->
	 <insert id="insertCardData" parameterType="com.fly.dds.domain.RoomPayment">
	 	INSERT INTO room_pay_cash(sale_num, imp_uid, card_name , card_num)
	 	VALUES(#{sale_num}, #{imp_uid}, #{card_name} , #{card_num} )
	 </insert>
	 
	 <select id="completePage" resultType="String">
	 	select card_name , card_num from room_pay_cash where sale_num = #{sale_num}
	 </select>
	 	
	 <select id="payMentSeq" resultType="Long">
  		SELECT room_sale_seq.nextval FROM dual
 	 </select>
 	 
 	 <insert id="insertRefund" parameterType="map">
 	 	insert into Room_refund(sale_num , refund_state , refund_date, refund_price , card_num , refund_reason , user_num) 
		values(#{sale_num} , 1 , sysdate , #{refund_preice} , #{card_num} , #{refund_reason} , #{user_num})
 	 </insert>
	 
<!-- // sale_num
	public String findBySaleNum();
	
	public void insertPayment(RoomPayment dto) throws SQLException;
	public void insertPayDetail(RoomPayment dto) throws SQLException;
	 -->
	 
	 
	 

</mapper>