<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fly.dds.mapper.TravelReviewReplyMapper">
    <insert id="insertReply" parameterType="com.fly.dds.domain.TravelReviewReply">
        INSERT INTO travelreview_reply (REPLY_NUM, NUM, ANSWER_NUM, NICKNAME, CONTENT, REG_DATE, USER_NUM)
        VALUES (travelreview_reply_seq.NEXTVAL, #{num}, null, #{nickName}, #{content}, SYSDATE, #{userNum})
    </insert>

    <select id="listReplies" parameterType="long" resultType="com.fly.dds.domain.TravelReviewReply">
        SELECT REPLY_NUM, NUM, ANSWER_NUM, NICKNAME, CONTENT, REG_DATE, USER_NUM
        FROM travelreview_reply
        WHERE NUM = #{num}
        ORDER BY REPLY_NUM
    </select>

    <insert id="insertReReply" parameterType="com.fly.dds.domain.TravelReviewReply">
        INSERT INTO travelreview_reply (REPLY_NUM, NUM, ANSWER_NUM, NICKNAME, CONTENT, REG_DATE, USER_NUM)
        VALUES (travelreview_reply_seq.NEXTVAL, #{num}, #{answerNum}, #{nickname}, #{content}, SYSDATE, #{userNum})
    </insert>
    <!-- 필요한 추가적인 SQL 문장 선언 -->
</mapper>
